name: MLOps CI Pipeline

on:
  push:
    branches: 
      - main
      - improve-model-training
      - aws-deployment
  pull_request:
    branches: [ main ]

jobs:
  build-test-docker:
    runs-on: ubuntu-latest

    steps:
      # Checkout repo
      - name: Checkout repository
        uses: actions/checkout@v4

      # Setup Python
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      # Install dependencies
      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install pytest

      # Run tests
      - name: Run pytest
        run: pytest

      # Build Docker image
      - name: Build Docker image
        run: docker build -t catsdogs-api .

      # Run container using docker compose (CD step)
      - name: Deploy with Docker Compose
        run: |
          docker compose up -d